<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/migwe/IdeaProjects/MobileTestAppium">
        <classes>
            <class name="org.AccessabilityTest">
                <methods>
                    <include name="RunTest"/>
                </methods>
            </class>
            <class name="org.LoginTest">
                <methods>
                    <include name="verifyLogin"/>
                </methods>
            </class>
            <class name="org.TheInternetTest">
                <methods>
                    <exclude name="internetTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>